@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,700&display=swap');

/* * 

.main-section{
    display: flex;
    height: 90vh;
}
*/
* {
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar{
    display: none;
  }
}


.content-body {
  display: flex;
  overflow: auto;
  width: 100%;
  position: relative;
  height: 85vh;
}

.left-nav{
  
 
  overflow-y: scroll;
  background-color: black;

}

.right-nav {
  color: white;
  background: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );

  flex: 5;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.arrow-nav > div {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.account-nav {
  width: 147px;
  height: 41px;
  background-color: black;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  border-radius: 33px;
  padding: 3px;
}
.account-nav > i .logo > img {
  width: 202.5760955810547px;
  height: 60.525787353515625px;
}
.card-box {
  display: flex;
  flex-wrap: wrap;
}
.card-container {
  width: 362px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: white;
  margin: 5px;

  background-color: #303030;
}
.card-text {
  padding-left: 25px;
  font-size: 20px;
}

.main-head {
  margin-top: 50px;
  width: 82vw;
  margin-inline: auto;
}
.main-head-title {
  font-family: DM Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.03em;
  text-align: left;
}
.small-logo {
  width: 30px;
  width: 30px;
  background-color: white;
}

.main-section {
  height: 90vh;
}

.nav-content {
  padding-left: 15px;
  text-align: left;
}
.row-2-col-2 > img {
  height: 30px;
}

.nav-left-row-2 {
  margin-left: 15px;
  margin-top: 20px;
}

.category {
  width: 84vw;
  margin-inline: auto;
}
.card-container-category {
  width: 251.29176330566406px;
  height: 305.9043273925781px;
  background-color: #181818;
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
}

.category-head {
  padding-left: 20px;
}
.card-img {
  padding-left: 15px;
  margin-top: 30px;
}

.card-box-category {
  width: 83vw;
  margin-inline: auto;
  padding-left:20px;
  flex-wrap: wrap;
  display: flex;
}

.card-content-head {
  padding-top: 15px;
  font-size: 21px;
  text-align: left;
  padding-left: 0;
}

.singer-name {
  color: grey;
}

.category-head{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.see-all{
    font-family: DM Sans;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.04em;
text-align: left;

    margin-right: 25px;
}
.sticky-player{
    background-color: #181818;
    color: white;
    width: 100%;
    height: 15vh;

  
}


.player-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  bottom: 0;
  background-color: #121212;
  width: 100%;
  height: 18%;
  margin: 0;
  padding: 0;
}


.footer-col-1{
  display: flex;
  align-items: center;
  padding: 0;
   
}
.footer-card-content{
  padding-top: 10px;
  padding-right: 10px;
}

.playercontrols{
  display: flex;
  align-items: center;
  justify-content: center;
}
.playercontrols>div{
  padding:7px;
  padding-bottom: 0;
  padding-top: 0;
}

.green-footer-heading{
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 18px;
  padding-right: 25px;
  padding-top: 5px;
}

.green-footer{
  width: 100%;
  height: 30px;
 position: fixed;
 bottom: 0;
  background-color: #1ED760;
}